
.flats-profile {
width: 80px;
}


.header-flat-owner {
 margin-top: -8%;

}

.btn-yours {
 color: $orange;
 border: 1px solid $orange;
 background-color: transparent;
 margin-left: 0;
}

#flat-description {
  padding-bottom: 15%;
}

